<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.naman.myapplication">
<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ProFit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"></activity>
        <receiver android:name=".MyBroadcastReceiver"></receiver>
        <activity android:name=".calorimeter"></activity>
        <activity android:name=".AskAndKnow"></activity>
        <activity android:name=".Discussion"></activity>
        <activity android:name=".NewQuestionActivity"></activity>
        <activity android:name=".PostDetailActivity"></activity>
        <activity android:name=".Performance_tracker"></activity>


    </application>

</manifest>